@import "reset.scss"
@import "normalize.scss"

*
    box-sizing: border-box

$color-blue: #5290EA
$color-orange: #F28B64



.container
    max-width: 1140px
    margin: 0 auto
.main-section
    position: relative
    min-height: 800px
    background: #F0F0F0
    padding-top: 16px
    overflow: hidden
    &__nav-contaiter
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 69px
        align-items: center
    &__logo
        width: 134px
    &__content-container
        position: relative
        display: flex
        flex-direction: row  
    &__first-elipse
        position: absolute
        top: 129px
        right: 80px
    &__second-elipse
        position: absolute
        right: -120px
        top: 650px
.second-section
    position: relative
    max-width: 1140px
    margin: 0 auto
    background: #F0F0F0 
    //overflow: hidden
    &__cards
        display: flex
        flex-direction: row
        justify-content: space-between
    &__icons
        display: flex
        flex-direction: row
        justify-content: space-between
    &__icons-cup
        display: flex
        flex-direction: row  
    &__third-elipse 
        position: absolute
        top: 380px
        left: -60px
        z-index: -1
    &__forth-elipse 
        position: absolute
        top: 40px
        right: -60px
        z-index: -1


        
.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 64px
        font-size: 18px
        &:last-child
            margin-right: 0

.left-wrapper
    position: relative
    img
        position: relative
        z-index: 5
        max-height: 600px

    &__rectangle-blue
        position: absolute
        top: 150px
        left: -50px
        width: 565px
        height: 220px
        background: $color-blue
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-64deg)
        z-index: 2
    &__rectangle-orange
        position: absolute
        top: 160px
        left: -30px
        width: 565px
        height: 220px
        background: $color-orange
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-50.81deg)
        z-index: 3
    &__rectangle-grey
        position: absolute
        top: 190px
        left: 10px
        width: 565px
        height: 220px
        background: #e2e2e2
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        transform: rotate(-36.15deg)
        z-index: 1
.right-wrapper
    width: 372px    
    position: absolute
    top: 150px
    right: 76px   
    &__icons-box
        margin-bottom: 1px 
        padding-left: 10px
    &__title
        margin-bottom: 5px
        z-index: 1
    &__text
        font-size: 16px
        margin-bottom: 20px
        z-index: 2
.icons
    display: inline-flex
    
    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        border: 1px solid $color-blue
        border-radius: 100px
        margin-right: 17px
        &:last-child
            margin-right: 0px
        i
            font-size: 21px
.title
    font-size: 72px  
    position: relative 
    margin: 0
    &__hr
        width: 65px
        position: absolute
        bottom: 0px
        margin: 0 
        border: none
        border-top: 1px solid

.buttons
    display: inline-flex
    &__main-btn
        margin-right: 32px
        width: 200px
        height: 60px
        background: $color-orange
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 100px
        border: none
        font-size: 18px
        color: white
    &__icon-btn
        display: inline-flex
        align-items: center
        img 
            margin-right: 12px
    &__text
        font-size: 16px       
.elipse
    width: 194px
    height: 194px
    background: linear-gradient(143.92deg, rgba(237,123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5)85.74%)
    border-radius: 150px
    display: flex
    justify-content: center
    align-items: center
    &_big
       width: 282px
       height: 282px
    &__subtract
        width: 130px
        height: 130px
        background: #f0f0f0
        border-radius: 150px
        &_big
            width: 188px
            height: 188px
.card
    display: flex
    border-radius: 4px
    margin-right: 30px
    &:last-child
        margin-right: 0
    
    &__first
        width: 360px
        height: 360px
        background-color: #E2E2E2
    &__second
        width: 360px
        height: 360px
        background-color: #F28B64
    &__third
        width: 360px
        height: 360px
        background-color: #5290EA
.name-guitar
    font-size: 36px
    flex-direction: column
.icon-figures
    font-size: 48px  
.icon-text
    font-size: 18px      
    
     

    


   



           

        


